ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li:nth-child(1) {
    background: #99c2ff;
    text-decoration-color: blue;
    padding: 10px;
}
.list{
    padding: 10px;
}

li:nth-child(4) {
    background: #99c2ff;
    text-decoration-color: blue;
    padding: 10px;
}

table{
    border-collapse: collapse;
    text-align: center;
}
table, th, td {
    border: 1px solid #000;
}
.color{
    background: #cccccc;
}
.lists{
    padding: 10px;

}


